<!--footer start-->
<section class="bg-info">
    <div class="container  mt-5">
    <div class="row">
    <div class = "col-md-4 mb-4 text-sm-center">
    <h4 class="text-white">ABOUT US</h4>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="#" class="px-3"><i class="fa-brands fa-square-facebook fa-xl" style="color: #FFFFFF;"></i></a>
    <a href="#" class="px-3"><i class="fa-brands fa-instagram fa-xl" style="color: #FFFFFF;"></i></a>
    <a href="#"class="px-3"><i class="fa-brands fa-twitter fa-xl" style="color: #FFFFFF;"></i></a>
    <a href="#"class="px-3"><i class="fa-brands fa-linkedin fa-xl" style="color: #FFFFFF;"></i></a>
    </div>
    <div class = "col-md-4 mb-4 text-sm-center text-justify">
    <h4 class="text-white">CONTACT</h4>
    <p class="text-white"><i class="pe-3 fa-solid fa-house fa-xl" style="color: #FFFFFF;"></i>Gole ka mandir, Station road</p>
    <p class="text-white"><i class="pe-3 fa-regular fa-envelope fa-xl" style="color: #FFFFFF;"></i>admissionitm@gmail.com</p>
    <p class="text-white"><i class="pe-3  fa-solid fa-phone fa-xl" style="color: #FFFFFF;"></i>+91 8871482503 </p>
    <p class="text-white"><i class="pe-3 fa-solid fa-print fa-xl" style="color: #FFFFFF;"></i>+91 8871482503</p>
    </div>
    <div class = "col-md-4 mb-4 text-sm-center">
    <h4 class="text-white" >Opening hours</h4>
    <p class="fs-5 border border-0 border-bottom border-white px-5 text-white">Mon - Thu:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 8am - 9pm</p>
    <p class="fs-5 border border-0 border-bottom border-white px-5 text-white">Fri - Sat:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 8am - 1pm</p>
    <p class="fs-5 border border-0 border-bottom border-white px-5 text-white">Sunday: - &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 9am - 10pm</p>
    </div>
    </div>
    </div>
    <div class="mt-4 row text-center">
    <div class="col">
    <p class="pt-3 bg-success text-white fs-5 h-100" >© 2022 Copyright: Himanshu sahu</p>
    </div>
    </div>
    </section>
    <!--footer end-->